.container {
  width: 100%;
  .label {
    display: block;
    margin-bottom: 4px;
  }

  .input {
    background: #f6f7f9;
    border-radius: 12px;
    height: 42px;
    width: 100%;
  }

  div {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    color: $primary-red;
    font-size: 12px;
    margin-left: 12px;
  }
}