.container {
  .label {
    display: block;
    margin-left: 12px;
    margin-bottom: 4px;
  }

  .input {
    background: transparent;
    border-radius: 12px;
    height: 42px;
  }

  div {
    margin-top: 4px;
    color: red;
    font-size: 14px;
    margin-left: 12px;
  }
}