$primary-gradient: linear-gradient(
                90deg,
                #2f55d4 0%,
                #4f46e5 100%
);
$primary-gray-bg: #EEEFF2;

$black_text: #151A28;
$gray-text: #6A7181;
$blue-text: #2248C3;

$primary-red: #ff4d4f;